<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body  class="d-flex h-100 text-center text-bg-dark">


<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="~{fragments/navigation}">


    </header>


    <main class="px-3">


        <div class="container-fluid" style="background-color:transparent; margin-top: 100px">






            <div class="stock-header" id="itemCategory" style="font-size: 30px; color: black;">All active users</div>
            <h3 th:text="${noUsers}"></h3>

            <table id="usersTable" class="display table table-bordered table-dark " style="margin-top: 30px;">
                <thead>
                <tr>
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Email</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Last logged in</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody id="table-body">
                <tr th:each="u: ${users}" >

                    <td>
                        <img style="max-height: 150px; max-width: 60px" th:src="${u.profilePicture}" class="avatar img-circle" alt="avatar">
                    </td>
                    <td th:text="${u.email}">7RL</td>
                    <td th:text="${u.firstName}">18</td>
                    <td th:text="${u.lastName}">10</td>
                    <td th:text="${u.lastLoggedIn}"></td>
                    <td>
                        <ul>
                            <li th:each="role:${u.getRoles()}" th:text="${role}"></li>
                        </ul>
                    </td>
                    <td>
                        <form th:if="${u.getRoles().size() == 1}" th:method="patch" th:action="@{/admin/moderator/{id}(id=${u.id})}">
                            <button id="addModerator" class="btn btn-outline-light" type="submit">Make moderator</button></form>
                        <form th:unless="${u.getRoles().size() == 1}" th:method="patch" th:action="@{/admin/removemoderator/{id}(id=${u.id})}">
                            <button id="removeModerator" class="btn btn-outline-light" type="submit">Remove moderation</button></form>

                        <form th:method="delete" th:action="@{/admin/delete/{id}(id=${u.id})}">
                            <button id="deleteBtn" class="btn btn-outline-light" type="submit">Delete</button></form>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>







    </main>


    <footer th:replace="~{fragments/footer}"></footer>


    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalTitle">Add new item</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="itemForm" th:action="@{/api/stock}" th:method="post">
                        <div class="form-group">


                            <label for="name">Item name</label>
                            <input type="text" id="name" name="name" class="form-control" value="" >
                            <label for="quantity">Quantity</label>
                            <input type="text" id="quantity" name="quantity" class="form-control" value="" >

                            <label for="minQuantity">Min. quantity</label>
                            <input type="text" id="minQuantity" name="minQuantity" class="form-control" value="" >
                            <label for="category">Select a category</label>
                            <select class="form-control" id="category" name="category">
                                <option th:each="category: ${T(com.example.inkzone.model.enums.ItemCategoryEnum).values()}" th:value="${category}" th:text="${category}"></option>
                            </select>

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>








</div>


<script src="/js/admin.js"></script>
</body>



</html>