<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="~{fragments/head}"> </head>


<body class="d-flex h-100 text-center text-bg-dark">




<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="~{fragments/navigation}"></header>

    <main class="px-3">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <div>
                                        <h2>Forgot Password</h2>
                                    </div>

                                    <div th:if="${error != null}">
                                        <p class="text-danger">[[${error}]]</p>
                                    </div>
                                    <div th:if="${message != null}">
                                        <p class="text-warning">[[${message}]]</p>
                                    </div>

                                    <form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">
                                        <div class="border border-secondary rounded p-3">
                                            <div>
                                                <p>We will be sending a reset password link to your email.</p>
                                            </div>
                                            <div>
                                                <p>
                                                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                                                </p>
                                                <p class="text-center">
                                                    <input type="submit" value="Send" class="btn btn-primary" />
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


</div>

<footer th:replace="~{fragments/footer}"></footer>


</body>

</html>