<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="~{fragments/head}"> </head>


<body class="d-flex h-100 text-center text-bg-dark">




  <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="~{fragments/navigation}"></header>

    <main class="px-3">
      <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h1>Welcome to InkZone!</h1>
                    <h3 th:text="${name}"></h3>
                    <img th:if="${profilePicture != null}" style="max-height: 400px; max-width: 300px" th:src="${profilePicture}" class="avatar img-circle" alt="avatar">
                    <p class="lead">Keeping tracks on your business has never been easier</p>
                    <p class="lead">
                      <a sec:authorize="isAnonymous()" href="/users/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Sign in</a>
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer th:replace="~{fragments/footer}"></footer>



  </div>




</body>




</html>