<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="~{fragments/head}"> </head>


<body class="d-flex h-100 text-center text-bg-dark">




<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="~{fragments/navigation}"></header>

    <main class="px-3">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <div>
                                        <h2 th:unless="${message}">Reset Your Password</h2>
                                    </div>
                                    <h4 th:if="${message}" th:text="${message}"></h4>

                                    <form th:unless="${message}" th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                                        <input type="hidden" name="token" th:value="${token}" />
                                        <div class="border border-secondary rounded p-3">
                                            <div>
                                                <p>
                                                    <input type="password" name="password" id="password" class="form-control" minlength="5" maxlength="20"
                                                           placeholder="Enter your new password" required autofocus />
                                                </p>
                                                <p>
                                                    <input type="password" class="form-control" placeholder="Confirm your new password" minlength="5" maxlength="20"
                                                           required oninput="checkPasswordMatch(this);" />
                                                </p>
                                                <p class="text-center">
                                                    <input type="submit" value="Change Password" class="btn btn-primary" />
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/footer}"></footer>


</div>


<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }

}</script>
</body>

</html>