<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100" data-bs-theme="auto"
      xmlns:sec="http://www.w3.org/1999/xhtml">




<body class="d-flex h-100 text-center text-bg-dark">




<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
<header></header>

    <main class="px-3">



        <div>
                                    <h1 class="align-content-center">Task for today</h1>
        </div>
        <div class="align-content-center align-items-center" style="text-align: center">
                                    <h3 class="align-content-center" th:text="${body}"></h3>
            <div>



            </div>
        </div>

    </main>


</div>



</body>

</html>